<body *ngIf="user" class="bodyContainer">
    <div>
        <a href="#" class="editArtist" *ngIf="artist" routerLink="/editartist/{{artist.id}}">Edit Artist</a>
    </div>

    <div class="artistInfo" id="block_container">
        <div class="introDetails" id="bloc1">
            <img src="{{artist.pictureURL}}" alt="..." width="130" class="rounded mb-2 img-thumbnail" id="picture">
            <p class="small mb-4"><b>Born:</b> {{artist.bornLocation}}</p>
            <p class="small mb-4"><b>Lived:</b> {{artist.born}}-{{artist.died}}</p>
        </div>
        <div class="description" id="bloc2">
            <h2 class="mt-0 mb-0 artistName"> {{artist.name}} </h2>
            <p class="mb-4"> {{artist.biography}}</p>
        </div>
    </div>
    <app-artist-works [artist]="artist"></app-artist-works>
</body>