a {
    color: rgb(76, 51, 117);;
}

#addArtForm {
    margin: 30px;
    margin-left: 18%;
    margin-right: 18%;
}


select {
    margin-right: 10px;
}

.form-outline {
    margin-top: 2%;
}

.artImage {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.addToSelect {
    margin-right: 12px;
    cursor: pointer;
}

.addDiv {
    border-top: dashed 1px black;
    margin-top: 10px;
    border-bottom: dashed 1px black;
    margin-bottom: 10px;
}

#addButton {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    background-color: rgb(76, 51, 117);
    border-color: black;
}