.form-outline {
    margin-top: 2%;
}

.addDiv {
    border-top: dashed 1px black;
    margin-top: 10px;
    border-bottom: dashed 1px black;
    margin-bottom: 10px;
}

#addForm {
    margin: 30px;
    margin-right: 18%;
    border-right: 18%;
}

#form6Example7 {
    margin: 30px;
    margin-right: 18%;
    border-right: 18%;
}

#form6Example3 {
    margin: 30px;
    margin-right: 18%;
    border-right: 18%;
    max-width: 90%;
}

.container {
    margin: 30px;
    margin-right: 18%;
    max-width: 100%;
}

.form-outline {
    margin-top: 2px;
}

#addButton {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
    background-color: rgb(76, 51, 117);
    border-color: black;
}

a {
    color: rgb(76, 51, 117);
    cursor: pointer;
}