<ng-container *ngIf="(isAuthenticated$ | async) === true;">
    <form id="addArtForm">
        <h2>Add An Art Type</h2>
        
        <!-- Title input -->
        <div class="form-outline mb-4">
            <input #title type="text" id="form6Example3" class="form-control" placeholder="Art Type" />
        </div>

        <!-- Description input -->
        <div class="form-outline mb-4">
            <textarea #description class="form-control" id="form6Example7" rows="4"
                placeholder="Description"></textarea>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" id="addButton"
            (click)="add(title.value, description.value)">Add
            Art Type</button>
    </form>
</ng-container>