a {
    color: rgb(76, 51, 117);
}

h5 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

app-post-actions {
    position: relative;
    bottom: 0px;
}

.cardDiv {
    border: 1px solid rgb(0, 0, 0);
    margin: 1px;
    margin-top: 0px;
    padding: 1px;
    padding-top: 6px;
    border-radius: 10px;
    overflow: scroll;
    max-height: 333px;
    margin-bottom: 10px;
    margin-left: 50px;
    position: relative;
    min-height: 333px;
    max-width: 275px;
    min-width: 200px;
}

.aClass {
    float: left;
}

.card {
    margin: 0 auto;
}

.card-title {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 5px;
    cursor: pointer;
    color: rgb(76, 51, 117);
}

.card-title:hover {
    text-decoration: underline ;
}

.card-text {
    text-align: center;
}

.card-img-top {
    border-radius: 10px;
    transition:transform 0.25s ease;
}

.card-img-top:hover {
    -webkit-transform:scale(1.5); 
    transform:scale(1.5);
    overflow:visible;
}

.postAction {
    text-align: center;
}