.cardDiv {
    border: 1px solid darkgray;
    margin: 1px;
    margin-top: 0px;
    padding: 1px;
    padding-top: 6px;
    border-radius: 10px;
    overflow: scroll;
    max-height: 400px;
    margin-bottom: 10px;
    margin-left: 5px;
    max-width: 275px;
    position: relative;
}

h5 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.aClass {
    float: left;
}

.card {
    margin: 0 auto;
}

app-post-actions {
    position: relative;
    bottom: 0px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.card-img-top {
    border-radius: 10px;
    transition:transform 0.25s ease;
}

.card-img-top:active {
    -webkit-transform:scale(1.5); 
    transform:scale(1.5);
    overflow:visible;
}

.postAction {
    text-align: center;
}