<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="appName" routerLink="/gallery">DGArt</a>

    <div class="dropdown">
      <button class="dropbtn db1">View Content <span class="caret"></span></button>
      <div class="dropdown-content">
        <a routerLink="/gallery">Art Gallery</a>
        <a routerLink="/artists">See Artists</a>
        <a routerLink="/locations">Art Locations</a>
      </div>
    </div>

    <a class="splitBars">||</a>

    <div class="dropdown">
      <button class="dropbtn db2">Add Content <span class="caret"></span></button>
      <div class="dropdown-content">
        <a routerLink="/addwork/0">Add Artwork</a>
        <a routerLink="/addartist">Add Artist</a>
        <a routerLink="/addlocation">Add Location</a>
      </div>
    </div>


    <div class="dropdown navbar-right" id="acctButton" *ngIf="user">
      <button class="dropbtn db3">{{user.name}} <span class="caret"></span></button>
      <div class="dropdown-content">
        <a routerLink="/profile">My Account</a>
        <a (click)="signOut()" class="signOutLink">Sign Out</a>
      </div>
    </div>

  </mdb-navbar-brand>
</mdb-navbar>