<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/gallery"><b>DGArt</b></a>
    
    <ul class="nav navbar-brand">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"> View Content
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a routerLink="/gallery">Art Gallery</a></li>
        <li><a routerLink="/artists">Artists Gallery</a></li>
        <li><a routerLink="/locations">Art Locations</a></li>
      </ul>
    </ul>

    <a class="navbar-brand navLink">|</a>

    <ul class="nav navbar-brand">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Add Content
        <span class="caret"></span></a>
      <ul class="dropdown-menu ">
        <li><a routerLink="/addwork">Add Artwork</a></li>
        <li><a routerLink="/addartist">Add Artist</a></li>
        <li><a routerLink="/addlocation">Add Location</a></li>
      </ul>
    </ul>
<!-- 

    <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
      <button type="button" class="btn btn-outline-primary me-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button>
      <div ngbDropdownMenu aria-labelledby="dropdownManual">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div> -->

    <ul class="nav navbar-brand navbar-right" id="acctButton">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" *ngIf="user"> {{user.name}}
        <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/profile">My Account</a></li>
        <li><a href="#" (click)="signOut()">Sign Out</a></li>
      </ul>
    </ul>

  </mdb-navbar-brand>
</mdb-navbar>