<ng-container *ngIf="user">
    <form id="addLocationForm">
        <h2>Add A Location</h2>

        <!-- Name input -->
        <div class="form-outline mb-4">
            <input #name type="text" id="form6Example3" class="form-control" placeholder="Location Name" />
        </div>

        <!-- Location URL input -->
        <div class="form-outline mb-4">
            <input #url type="text" id="form6Example4" class="form-control" placeholder="Location URL" />
        </div>

        <!-- Description input -->
        <div class="form-outline mb-4">
            <textarea #description class="form-control" id="form6Example7" rows="4"
                placeholder="Description"></textarea>
        </div>

        <div class="form-outline mb-4">
            <div class="locationLocation">
                <h6 class="locationQuestion">Where Is This Located?</h6>
                <!-- Location Country input -->
                <input #url type="text" id="form6Example4" class="form-control" placeholder="Location Country" />

                <!-- Location State/Province input -->
                <input #url type="text" id="form6Example4" class="form-control" placeholder="Location State/Province" />

                <!-- Location City input -->
                <input #url type="text" id="form6Example4" class="form-control" placeholder="Location City" />

                <!-- Location Street Address input -->
                <input #url type="text" id="form6Example4" class="form-control" placeholder="Location Street Address" />
            </div>
        </div>

        <!-- LocationTypeID input -->
        <div class="form-outline mb-4">
            <select #locationtype name="locationtypes" id="locationtypesDropdown">
                <option value="">Select A Location Type</option>
                <option *ngFor="let locationtype of locationtypes" [value]="locationtype.id">
                    {{ locationtype.name }}
                </option>
            </select>
            <app-add-location-type (updateLocationTypesEvent)="updateLocationTypes($event)"></app-add-location-type>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" id="addButton"
            (click)="add(name.value, url.value, description.value, locationtype.value)">
            Add Location
        </button>
    </form>
</ng-container>