select {
    margin-bottom: 10px;
    margin-right: 10px;
}

a {
    color: rgb(76, 51, 117);;
}

.form-outline {
    margin-top: 2%;
}

.locationQuestion {
    text-decoration: underline;
}

.locationLocation {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
}

.locationLocation>input {
    margin-bottom: 10px;
    margin-top: 10px;
}

#addLocationForm {
    margin: 30px;
    margin-left: 18%;
    margin-right: 18%;
}

#addButton {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    background-color: rgb(76, 51, 117);
    border-color: black;
}