<div class=" col-md-3 cardDiv">
    <div class="card" style="width: 18rem;">
      <div class="postAction">
        <a routerLink="/editartist/{{theArtist.id}}">Edit Artist</a>
    </div>
      <img class="card-img-top" src="{{theArtist.pictureURL}}" alt="Card image cap"
        style='height: 100%; width: 100%; object-fit: contain'>
      <div class="card-body">
        <h5 class="card-title">{{theArtist.name}}</h5>
        <p class="card-text">{{theArtist.biography}}</p>
      </div>
    </div>
  </div>
