.cardDiv {
    border: 1px solid rgb(0, 0, 0);
    margin: 1px;
    margin-top: 0px;
    padding: 1px;
    padding-top: 6px;
    border-radius: 10px;
    overflow: scroll;
    max-height: 400px;
    margin-bottom: 10px;
    margin-left: 5px;
    max-width: 275px;
    position: relative;
}

h5 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.card {
    margin: 0 auto;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.card-img-top {
    border-radius: 10px;
    transition:transform 0.25s ease;
}

.card-img-top:hover {
    cursor: pointer;
}

.card-img-top:active {
    -webkit-transform:scale(1.5); 
    transform:scale(1.5);
    overflow:visible;
}

.postAction {
    height: 30px;
    text-align: center;
    cursor: pointer;
}

a {
    color: rgb(76, 51, 117);
}