#addForm {
    margin: 30px;
    margin-right: 18%;
    border-right: 18%;
}

#form6Example7 {
    margin: 30px;
    margin-right: 18%;
    border-right: 18%;
}

#form6Example3 {
    margin: 30px;
    margin-right: 18%;
    border-right: 18%;
}

.container {
    margin: 30px;
    margin-right: 18%;
    max-width: 100%;
}

.form-outline {
    margin-top: 2px;
}

#addButton {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
}
