body {
    margin-top: 100px;
    margin-left: 175px;
    margin-right: 175px;
    margin-bottom: 100px;
}

a {
    color: rgb(76, 51, 117);
    cursor: pointer;
}

.introDetails {
    display: table;
    margin-right: auto;
    margin-left: 40px;
} 

.mt-0, .mb-4 {
    text-align: center;
}

.rounded {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 15px;
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 300px;
    margin-bottom: 4px;
    min-width: 150;
    min-height: 200;
}

.artworkName {
    font-style: italic;
    margin-bottom: 18px;
}

.card-img-top {
    transition:transform 0.25s ease;
    border: solid 1px black;

}

.card-img-top:hover {
    -webkit-transform:scale(1.6); 
    transform:scale(1.6);
    overflow:visible;
    cursor: pointer;
}

#block_container {
    display: flex;
    justify-content: center;
}

#block_container > div {
    display: inline-block;
    vertical-align: middle;
}

#bloc2 {
    padding-top: 0px;
    padding-bottom: 50px;
}