body {
    /* margin-left: 10px;
    width: 100%; */
    margin-left: 250px;
    margin-right: 250px;
}

a {
    color: rgb(76, 51, 117);
}

.profileDetails {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.mt-0 {
    text-align: center;
}

.mb-4 { 
    text-align: center;
}

.rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}

.editProfile {
    float: right;
    margin-right: 20px;
    padding-right: 10px;
}

.editGallery {
    float: left;
    cursor: pointer;
}

img {
    border-radius: 200px;
}