<body *ngIf="(isAuthenticated$ | async) === true;" class="bodyContainer">
    <a href="#" class="btn small editProfile" routerLink="/editprofile">Edit Profile</a>
    <div class="profileDetails">
        <img src="https://st4.depositphotos.com/1012074/20946/v/450/depositphotos_209469984-stock-illustration-flat-isolated-vector-illustration-icon.jpg"
            alt="..." width="130" class="rounded mb-2 img-thumbnail">
        <h4 class="mt-0 mb-0">{{user.name}}</h4>
        <p class="small mb-4"> {{user.fromLocation}}</p>
    </div>
    <app-user-gallery></app-user-gallery>
</body>