<body *ngIf="user" class="bodyContainer">
    <div>
        <a href="#" class="btn small editGallery" routerLink="/myartadds">Edit Gallery</a>
        <a href="#" class="btn small editProfile" routerLink="/editprofile">Edit Profile</a>
    </div>
    
    <div class="profileDetails">
        <img src="{{user.profilePicURL}}"
            alt="..." width="130" class="rounded mb-2 img-thumbnail">
        <h4 class="mt-0 mb-0">{{user.name}}</h4>
        <p class="small mb-4"> {{user.fromLocation}}</p>
    </div>
    <app-user-gallery [theUser]="user"></app-user-gallery>
</body>