<div class="col-md-3 cardDiv" *ngIf=(theUser)>
  <div class="card" style="width: 18rem;">
    <app-post-actions *ngIf="hasUserLiked" [theArtwork]=theArtwork [theUser]=theUser [liked]=true></app-post-actions>
    <app-post-actions *ngIf="!hasUserLiked"[theArtwork]=theArtwork [theUser]=theUser [liked]=liked></app-post-actions>
    <img class="card-img-top" src="{{theArtwork.fileName}}" alt="Card image cap"
      style='height: 100%; width: 100%; object-fit: contain'>
    <div class="card-body">
      <h5 class="card-title">{{theArtwork.title}}</h5>
      <p class="card-text">{{theArtwork.description}}</p>
    </div>
  </div>
</div>