h2 {
    text-align: center;
}

body {
    background: #dfdede;
  }
  
.banner {
    background: #ffffff;
    right: 30%;
    text-align: left;
    width: 40%;
    display: inline;
}

.divClass {
    background: #cbcacc;
}



.display-1 {
    display: inline;
}

.end {
    float: right;
}



