h2 {
    text-align: center;
}

body {
    background: #dfdede;
  }
  
.banner {
    background: #ffffff;
    right: 30%;
    text-align: left;
    width: 40%;
}

.divClass {
    background: #cbcacc;
}

.cardDiv {
    border-width: 5px;
    border-color: white;
}



