<ng-container *ngIf="user">

    <form id="addArtForm">
        <h2>Add To Our Gallery</h2>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            Picture Goes here
        </div>

        <!-- Title input -->
        <div class="form-outline mb-4">
            <input #title type="text" id="form6Example3" class="form-control" placeholder="Art Work Title" />
        </div>

        <!-- File URL input -->
        <div class="form-outline mb-4">
            <input #url type="text" id="form6Example4" class="form-control" placeholder="URL" />
        </div>

        <!-- Year Created input -->
        <div class="form-outline mb-4">
            <input #year type="number" id="form6Example6" class="form-control" placeholder="Year Created" />
        </div>

        <!-- Description input -->
        <div class="form-outline mb-4">
            <textarea #description class="form-control" id="form6Example7" rows="4"
                placeholder="Description"></textarea>
        </div>

        <!-- Artist ID input -->
        <div class="form-outline mb-4">
            <select #artist name="artists" id="artistsDropdown">
                <option value="">Select An Artist</option>
                <option *ngFor="let artist of artists" [value]="artist.id"> 
                    {{ artist.name }}
                </option>
            </select>
        </div>

        <!-- Medium ID input -->
        <div class="form-outline mb-4">
            <select #medium name="arttypes" id="arttypesDropdown">
                <option value="">Select A Medium</option>
                <option *ngFor="let arttype of artTypes" [value]="arttype.id"> 
                    {{ arttype.name }}
                </option>
            </select>
        </div>

        <!-- Location ID input -->
        <div class="form-outline mb-4">
            <select #location name="locations" id="locationsDropdown">
                <option value="">Select A Location</option>
                <option *ngFor="let location of locations" [value]="location.id"> 
                    {{ location.locationName }}
                </option>
            </select>
        </div>


        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" id="addButton"
            (click)="add(title.value, url.value, year.value, description.value, artist.value, medium.value, location.value, user.id)">Add
            Artwork
        </button>
    </form>

</ng-container>