<div class="profile-card">
    <h1>Avi</h1>
    <div class="shield"></div>
    <p *ngIf="name$ | async as name">
        Hello {{name}}!
    </p>
    <h1>Danny</h1>

    <ng-container *ngIf="(isAuthenticated$ | async) === true;">
        <h1>Dani g</h1>
        <button> AUTH BUTTON </button>
        
    </ng-container>

      <p *ngIf="name$ | async as name">
        Hello {{name}}!
    </p>

</div>




<p *ngIf="fullName$">
    Hello {{fullName$}}!
    <div class="container">
        <div class="jumbotron">
          <h1>Welcome</h1>
          <h2>Angular & Bootstrap Demo</h2>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">Status</div>
          <div class="panel-body">
            <h3></h3>
          </div>
        </div>
      </div>
