<ng-container *ngIf="user">

    <button routerLink="/locations" class="btn btn-primary backBtn">Go Back</button>
    <button class="btn btn-primary deleteBtn">Delete Location</button>

    <div id="editObjectForm" *ngIf="locationToEdit">
        <h2>Edit Location</h2>

        <!-- Name input -->
        <div class="form-outline mb-4">
            <input #title type="text" id="form6Example3" class="form-control" placeholder="Name:"
                [(ngModel)]="locationToEdit.locationName" />
        </div>

        <!-- Location URL input -->
        <div class="form-outline mb-4">
            <input #url type="text" id="form6Example4" class="form-control" placeholder="URL: "
                [(ngModel)]="locationToEdit.locationUrl" />
        </div>

        <!-- Description input -->
        <div class="form-outline mb-4">
            <textarea #description class="form-control" id="form6Example7" rows="4" placeholder="Description: "
                [(ngModel)]="locationToEdit.description"></textarea>
        </div>

        <!-- LocationTypeID input -->
        <div class="form-outline mb-4">
            <select #locationtype name="locationtypes" id="locationtypesDropdown">
                <option [(ngModel)]="locationToEdit.id">Select A Location Type</option>
                <option *ngFor="let locationtype of locationtypes" [(ngModel)]="locationToEdit.id">
                    {{ locationtype.name }}
                </option>
            </select>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" id="editButton" (click)="edit()">Edit
            Location
        </button>
    </div>
</ng-container>