<ng-container *ngIf="user">

    <button routerLink="/artists" class="btn btn-primary backBtn">Go To Artists</button>
    <button class="btn btn-primary deleteBtn" (click)="deleteArtist()">Delete Artist</button>

    <div id="editArtistForm" *ngIf="artist">
        <h2>Edit Artist</h2>
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4 picDiv">
            <img src="{{artistPictureURL}}" alt="Artist Picture Here" width="270" class="rounded mb-2 img-thumbnail">
        </div>

        <!-- Name input -->
        <div class="form-outline mb-4">
            <input #name type="text" id="form6Example3" class="form-control" placeholder="Name:" [(ngModel)]="artist.name" value=/> 
        </div>

        <!-- File URL input -->
        <div class="form-outline mb-4">
            <input #url type="text" id="form6Example4" class="form-control" placeholder="Artist Picture URL: " [(ngModel)]="artist.pictureURL"
                (blur)="updateArtistPicture(url.value)" />
        </div>

        <!-- Location Born input -->
        <div class="form-outline mb-4">
            <input #bornPlace type="text" id="form6Example4" class="form-control" placeholder="Location of Birth:" [(ngModel)]="artist.bornLocation" />
        </div>

        <!-- Year Born input -->
        <div class="form-outline mb-4">
            <input #bornYear type="text" id="form6Example4" class="form-control" placeholder="Year of Birth:" [(ngModel)]="artist.born" />
        </div>

        <!-- Year Died input -->
        <div class="form-outline mb-4">
            <input #diedYear type="text" id="form6Example4" class="form-control" placeholder="Year of Death:" [(ngModel)]="artist.died" />
        </div>

        <!-- Biography input -->
        <div class="form-outline mb-4">
            <textarea #biography class="form-control" id="form6Example7" rows="4" placeholder="Biography:" [(ngModel)]="artist.biography"></textarea>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" id="editButton" *ngIf="artist"
            (click)="editArtist(artist)">Save Changes</button>
    </div>
</ng-container>