body {
    margin-left: 10px;
    width: 100%;
}

a {
    color: rgb(76, 51, 117);
}

.introDetails {
    display: table;
    margin-right: auto;
    margin-left: 40px;
} 

.mt-0, .mb-4 {
    text-align: center;
}

.rounded {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 15px;
    height: auto; 
    width: auto; 
    max-width: 220px; 
    max-height: 220px;
    margin-bottom: 4px;
}

.editLocation {
    float: right;
    margin-right: 10px;
    padding-right: 10px;
}

#block_container {
    display: flex;
    justify-content: center;
}

#block_container > div {
    display: inline-block;
    vertical-align: middle;
}

#bloc2 {
    padding-top: 30px;
    padding-bottom: 50px;
}

.locationName {
    font-style: italic;
    margin-bottom: 25px;

}

.description {
    padding-right: 10px;
}

.website {
    text-decoration: underline;
}