/* You can add global styles to this file, and also import other style files */

.btn {
    background-color: rgb(76, 51, 117);
    border-color: black;
}

.btn:hover {
    background-color: rgb(96, 66, 145);
    border-color: black;
}

.btn:active {
    background-color: rgb(144, 122, 180);
    border-color: black;
}

.btn:focus {
    background-color: rgb(144, 122, 180);
    border-color: black;
}