<body *ngIf="user" class="bodyContainer">

    <div class="artworkInfo" id="block_container" *ngIf="artwork">
        <div class="introDetails" id="bloc1">
            <img src="{{artwork.fileName}}" alt="{{artwork.title}}" width="180" class="rounded mb-2 img-thumbnail">
        </div>
        <div class="description" id="bloc2">
            <h2 class="mt-0 mb-0 artworkName"> {{artwork.title}}, {{artwork.yearCreated}}</h2>
            <h5 class="mb-4">
                <a routerLink="/viewartist/{{artwork.artistId}}">{{artwork.artist.name}}</a> | 
                <a routerLink="/viewlocation/{{artwork.locationNow}}">{{artwork.location.locationName}}</a> |
                {{artwork.medium.name}} 
            </h5>
            <p class="mb-4"> {{artwork.description}}</p>
            <p class="small mb-4"><b>Likes: </b> {{artwork.likes}}</p>
         </div>
    </div>

</body>