<body *ngIf="user" class="bodyContainer">
    <!-- <div>
        <a href="#" class="editArtist" *ngIf="userAddedArtist" [routerLink]="['/editartist', viewArtist.id]">Edit Artist</a>
    </div> -->

    <div class="artworkInfo" id="block_container" *ngIf="artwork">
        <div class="introDetails" id="bloc1">
            <img src="{{artwork.fileName}}" alt="{{artwork.title}}" width="180" class="rounded mb-2 img-thumbnail">
            <p class="small mb-4"><b>Year:</b> {{artwork.yearCreated}}</p>
            <p class="small mb-4"><b># of Likes:</b> {{artwork.likes}}</p>
        </div>
        <div class="description" id="bloc2">
            <h2 class="mt-0 mb-0 artworkName"> {{artwork.title}} </h2>
            <p class="mb-4"> {{artwork.description}}</p>
        </div>
    </div>
    <!-- <app-artist-works *ngIf="viewArtist" [worksOfArtist]="viewArtist"></app-artist-works> -->
</body>